# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Backend
backend/__pycache__/
backend/.env
backend/data/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env

# OS
.DS_Store
Thumbs.db
